<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="UserService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="com.framgia.service.UserService">
				<property name="userDAO" ref="UserDAO" />
			</bean>
		</property>
	</bean>
	
	<bean id="ShopService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="com.framgia.service.ShopService">
				<property name="shopDAO" ref="ShopDAO" />
			</bean>
		</property>
	</bean>

	<bean id="OrderDetailService" class="com.framgia.service.OrderDetailService">
		<property name="orderDetailDAO">
			<ref bean="OrderDetailDAO" />
		</property>
	</bean>
	
	<bean id="ProductService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="com.framgia.service.ProductService">
				<property name="productDAO" ref="ProductDAO" />
			</bean>
		</property>
	</bean>
</beans>