<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="UserService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="com.framgia.service.UserService">
				<property name="userDAO" ref="UserDAO" />
			</bean>
		</property>
	</bean>
	
	<bean id="ShopService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="com.framgia.service.ShopService">
				<property name="shopDAO" ref="ShopDAO" />
			</bean>
		</property>
	</bean>

	<bean id="OrderDetailService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="com.framgia.service.OrderDetailService">
				<property name="orderDetailDAO" ref="OrderDetailDAO" />
			</bean>
		</property>
	</bean>
	
	<bean id="ProductService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="com.framgia.service.ProductService">
				<property name="productDAO" ref="ProductDAO" />
			</bean>
		</property>
	</bean>
	<bean id="OrderService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="com.framgia.service.OrderService">
				<property name="orderDAO" ref="OrderDAO" />
			</bean>
		</property>
	</bean>
	
	<bean id="CustomerService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="com.framgia.service.CustomerService">
				<property name="customerDAO" ref="CustomerDAO" />
			</bean>
		</property>
	</bean>
	
	<bean id="UserDetailServiceImpl" class="com.framgia.service.UserDetailServiceImpl">
		<property name="userDAO" ref="UserDAO" />
	</bean>
	
</beans>